.page-content {
  @include apply-utility("leading", "loose");

  > * {
    @include apply-utility("measure", "long");
  }

  pre {
	overflow-x: auto;
  }

  ::-webkit-scrollbar-track {
    border: 1px solid get-color('primary-shade');
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: get-color('primary-shade');
  }

  blockquote {
    border-inline-start: 1rem solid get-color("quaternary");
    padding-inline-start: get-size("600");
    padding-top: get-size("500");
    padding-bottom: get-size("500");
    font-style: italic;
  }

  h2 {
    font-size: get-size("700");
  }

  h3 {
    font-size: get-size("600");
  }

  ol,
  ul {
    padding-inline-start: get-size("800");
  }

  li + li {
    margin-top: get-size("300");
  }

  // Add a greater flow space for heading elements so
  // they appear more like article sections
  h2,
  h3 {
    --flow-space: #{get-size("800")};
  }

  // Add tighter flow for elements that follow a heading
  h2 + *,
  h3 + * {
    --flow-space: #{get-size("300")};
  }
}
