.post-list {
  &__link {
    font-size: get-size('700');
    color: get-color('dark');
    text-decoration-color: get-color('dark-glare');

    @include apply-utility('font', 'sans');
    @include apply-utility('weight', 'bold');

    &:hover {
      color: get-color('dark-glare');
      text-decoration-color: get-color('dark');
    }
  }
}
