.site-head {
  padding: get-size('600') 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    flex-shrink: 0;
    margin-inline-end: get-size('600'); // Prevents nav bunching up to the logo

    svg {
      max-width: 6rem;
    }
  }

  &__nav {
    padding: get-size('300') 0;
  }

  @include media-query('md') {
    &__brand {
      svg {
        width: 160px;
      }
    }
  }
}
