// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$generate-utility-classes: false;

// Next: pull in Gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

// Generic styles
time[datetime] {
  display: block;
  color: get-color('primary-shade');
  font-size: get-size('700');
  font-style: italic;

  &.date-last-modified {
	  font-size: get-size('500');
	  display: inline-block;
  }
}

// Pull in blocks
@import 'blocks/page-content';
