<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{- partial "head.html" . -}}
  <body>
    <div class="site-wrap">
      {{- partial "site-head.html" . -}}
      <main tabindex="-1" id="main-content">
        {{- block "main" . }}{{- end }}
      </main>
      {{- partialCached "footer.html" . -}}
    </div>
  </body>
</html>
