{{ define "main" }}
<article>
{{- partial "page-header.html" . -}}
{{ if (not (eq .Type $.Site.Params.contentTypeName)) }}
  <div class="[ panel dot-shadow ] [ bg-tertiary color-dark ]">
      <div class="[ page-content ] [ flow wrapper ] [ flow-space-700 ]">
  		{{ .Content }}
      </div>
  </div>
</article>
{{ else }}
  <div class="[ page-content ] [ flow wrapper ] [ flow-space-700 gap-top-700 ]">
  	{{ .Content }}
  </div>
</article>
<footer class="recommended-posts">
{{- partial "post-list.html" . -}}
</footer>
{{- partial "post-pagination.html" . -}}
{{ end }}
{{ end }}
