<footer role="contentinfo" class="site-foot">
  <div class="wrapper">
    <p>
      {{ with .Site.Copyright }}
	  {{ replace . "{year}" now.Year | markdownify }}
      {{ end }}
    </p>
  </div>
</footer>
