{{- $css := resources.Get "scss/critical.scss" | resources.ToCSS | slice -}}
{{ if eq .Kind "page" }}
  {{- $css = $css | append (resources.Get "scss/page.scss" | resources.ToCSS ) -}}
{{ end  }}
{{ $style := $css | resources.Concat "css/main.css" }}
{{- if hugo.IsProduction }}
{{- $style = $css | resources.Concat "css/main.css" | resources.Minify }}
{{- end }}
{{- $fonts := resources.Get "css/fonts.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <style>{{ $style.Content | safeCSS }}</style>
  <link rel="stylesheet" media="print" href="{{ $fonts.RelPermalink }}" onload="this.media='all'" integrity="{{ $fonts.Data.Integrity }}"/>
  <title>
    {{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{
    .Site.Title }}
  </title>
  <meta
    name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} "
  />
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="/favicons/favicon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#88C0D0">
  {{ partial "extend-head.html" . }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/schema.html" . }}
</head>
