{{ $pubDate := .PublishDate.UTC.Format "January 2, 2006" }}
{{ $lastmodDate := .Lastmod.UTC.Format "January 2, 2006" }}
{{ if (and (eq .Type $.Site.Params.ContentTypeName) (eq .Kind "page"))}}
<time datetime={{ .Date.UTC }}>{{ $pubDate }}</time>
{{ if (not (eq $pubDate $lastmodDate)) -}}
<span>Last modified: <time datetime={{ .Lastmod.UTC }} class="date-last-modified">{{ $lastmodDate }}</time>
{{- end }}
<p class="visually-hidden" id="tags-desc">Tags that this post has been filed under.</p>
 <ul class="tags-list" aria-describedby="tags-desc">
   {{ range (.GetTerms "tags") }}
     <li>
   	  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
     </li>
   {{ end }}
 </ul>
 {{ end }}
