{{- $isTags := eq .Page.Type "tags" }}
{{ $description := or (or .Description .Summary ) .Site.Params.description }}
<div class="[ page-header ] [ bg-light-glare ]">
  <div class="[ wrapper ] [ flow ]">
   {{ with .Title }}
    <h1 class="[ page-header__heading ] [ headline ]" data-highlight="primary">
		{{ if $isTags }}
		Filed under "{{ . }}"
		{{ else }}
		{{ . }}
		{{ end }}
    </h1>
	{{ end }}
    <div class="[ page-header__summary ] [ measure-long ]">
		{{ if not $isTags }}
		<p>{{ $description | truncate 140 }}</p>
		{{ end }}
		{{- partial "page-header-summary.html" . -}}
    </div>
  </div>
</div>
