{{ $pag := .Paginate (where .Pages "Type" "posts") }}
{{ if gt $pag.TotalPages 1 }}
<footer class="[ pagination ] [ dot-shadow panel ] [ bg-light-glare font-sans weight-bold ]">
  <div class="wrapper">
    <nav class="pagination__inner" aria-label="Pagination links">
  	  {{ if $pag.HasPrev }}
  	  <a href="{{ $pag.Prev.URL }}" data-direction="backwards">
          <span>Previous</span>
        </a>
  	  {{ end }}
  	  {{ if $pag.HasNext }}
        <a href="{{ $pag.Next.URL }}" data-direction="forwards">
          <span>Next</span>
        </a>
  	  {{ end }}
    </nav>
  </div>
</footer>
{{ end }}
