{{ if or .NextInSection .PrevInSection }}
<footer aria-label="read other posts" class="[ pagination ] [ dot-shadow panel ] [ bg-light-glare font-sans weight-bold ]">
  <div class="wrapper">
    <nav class="pagination__inner" aria-label="Pagination links">
  	  {{ if .PrevInSection }}
  	  <a href="{{ .PrevInSection.Permalink }}" data-direction="backwards">
		  <span>&larr; {{ .PrevInSection.Title | truncate 30 }}</span>
        </a>
  	  {{ end }}
  	  {{ if .NextInSection }}
        <a href="{{ .NextInSection.Permalink }}" data-direction="forwards">
			<span>{{ .NextInSection.Title | truncate 30 }} &rarr;</span>
        </a>
  	  {{ end }}
    </nav>
  </div>
</footer>
{{ end }}
