{{ $isSinglePostPage := and .IsPage (eq .Page.Type site.Params.contentTypeName) }}
{{ $isTermsPage := eq .Page.Kind "term" }}
{{ $pages := . }}
{{ $postListHeadline := "" }}
{{ if $isSinglePostPage }}
	{{ $pages = where (.Site.RegularPages.Related . ) "Type" site.Params.contentTypeName | first 3 }}
	{{ $postListHeadline = "More from the blog" }}
{{- else -}}
		{{ if $isTermsPage }}
			{{- $pag := .Paginate .Data.Pages -}}
			{{- $pages = $pag.Pages -}}
		{{ else }}
		{{- $pag := .Paginate (where site.RegularPages "Type" site.Params.contentTypeName) -}}
		{{- $pages = $pag.Pages -}}
		{{- end -}}
{{- end -}}
<div class="[ dot-shadow panel ] [ bg-primary-glare ]" id="post-list">
  <div class="[ wrapper ] [ flow flow-space-700 ]">
	  {{ if $postListHeadline }}
        <h2 class="[ headline ] [ measure-micro ]" data-highlight="primary">
            {{ $postListHeadline }}
        </h2>
		{{ end }}
    <div>
      <ol class="[ post-list ] [ flow ]">
		{{- range $pages -}}
        <li class="[ post-list__item ] [ leading-tight measure-long ]">
          <a href="{{ .RelPermalink }}" class="post-list__link">{{ .Title }}</a>
        </li>
		{{- end -}}
      </ol>
    </div>
  </div>
</div>
