<div class="[ dot-shadow panel ] [ bg-tertiary-shade ]" id="post-list">
  <div class="[ wrapper ] [ flow flow-space-700 ]">
	  <h2 class="[ headline ] [ measure-micro ]" data-highlight="primary">
            More from the blog
        </h2>
    <div>
      <ol class="[ post-list ] [ flow ]">
		  {{ range .Site.RegularPages.Related . }}
        <li class="[ post-list__item ] [ leading-tight measure-long ]">
			<a href="{{ .RelPermalink}}" class="post-list__link">{{ .Title }}</a>
        </li>
		{{ end }}
      </ol>
    </div>
  </div>
</div>
