<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header class="site-head" role="banner">
  <div class="wrapper">
    <div class="site-head__inner">
      <a
        aria-label="{{ .Site.Title }} - home"
        class="site-head__brand"
        href="/"
      >
        {{- partial "partials/logomark.svg" -}}
      </a>
      <nav
        aria-label="Primary"
        class="[ nav ] [ site-head__nav ] [ font-sans ]"
      >
        <ul class="nav__list">
		  {{ $current := . }}
		  {{ $topLevel := replace .RelPermalink "/" "" }}
          {{ range .Site.Menus.main }}
			  {{ if eq $current.RelPermalink .URL | or (hasPrefix .URL (printf "%s%s" "/" $current.Type)) }}
			  <li>
			    <a aria-current="page" data-state="active" href="{{ .URL }}">{{ .Name }}</a>
			  </li>
			  {{ else }}
			  <li>
				  <a href="{{ .URL }}">{{ .Name }}</a>
			  </li>
			  {{ end }}
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</header>
