<div class="[ dot-shadow panel ] [ bg-quaternary-glare ]" id="post-list">
  <div class="[ wrapper ] [ flow flow-space-700 ]">
    <div>
      <ol class="[ post-list ] [ flow ]">
		  {{ $type := .Type }}
		  {{ range $key, $value := .Data.Terms.Alphabetical }}
		  {{ $name := .Name }}
		  {{ $count := .Count }}
		  {{ with $.Site.GetPage (printf "/%s/%s" $type $name ) }}
        <li class="[ post-list__item ] [ leading-tight measure-long ]">
			<a href="{{ .RelPermalink }}" class="post-list__link">{{ .Name }} ({{ $count }})</a>
        </li>
		{{ end }}
		{{ end }}
      </ol>
    </div>
  </div>
</div>
