$headline-highlights: ('dark', 'secondary', 'tertiary', 'quaternary');

.headline {
  font-size: get-size('700');
  max-width: 18ch;

  @include media-query('md') {
    font-size: get-size('800');
  }

  @include media-query('lg') {
    font-size: get-size('900');
  }

  &::after {
    content: '.';
  }

  // For each color, create an exception
  @each $headline-highlight in $headline-highlights {
    &[data-highlight='#{$headline-highlight}'] {
      &::after {
        color: get-color($headline-highlight);
      }
    }
  }
}
